{{> head }}

{{> navbar}}

<div class="row">

    <div class="col-8">
        <h1> this is the about</h1>
        <p>aprendiendo a usar la libreria handlers, express, y un poco de desarrollo web </p>

        <div class="col-4">

            <img src="assets/img/perro.png" class="img-thumbnail">
        </div>

    </div>

</div>

{{> footer }}